In [8]:
import pandas as pd
import openpyxl

# Read XLSX file
xlsx_file1 = pd.ExcelFile('Data/DMA DATASET.xlsx')
print("Available sheets in DMA DATASET XLSX file:", xlsx_file1.sheet_names)

xlsx_file2 = pd.ExcelFile('Data/Dataset Project 404.xlsx')
print("\nAvailable sheets in Dataset Project 404 XLSX file:", xlsx_file2.sheet_names)

# Read CSV file
csv_data = pd.read_csv('Data/updated_job_roles_full.csv')
print(f"\nupdated_job_roles_full Columns: {list(csv_data.columns)}")

# Store files in different variables
excel_workbook1 = xlsx_file1
excel_workbook2 = xlsx_file2
csv_dataframe = csv_data



# # Access individual sheets from the dictionary
# first_sheet = all_sheets['Sheet1']  # By name
# # or iterate through all sheets
# for sheet_name, sheet_data in all_sheets.items():
#     print(f"Sheet: {sheet_name}")
#     print(sheet_data.head())
#     print("-" * 50)
#
# # Display basic information about the files
# print("\nXLSX File Info:")
# print(f"Number of sheets: {len(xlsx_file.sheet_names)}")
# print(f"Sheet names: {xlsx_file.sheet_names}")
#
# print("\nCSV File Info:")
# print(f"Shape: {csv_dataframe.shape}")
# print(f"Columns: {list(csv_dataframe.columns)}")
#
# # Example: Access specific data
# print("\nFirst 5 rows of CSV:")
# print(csv_dataframe.head())
#
# print("\nFirst 5 rows of first Excel sheet:")
# print(sheet1_data.head())

Available sheets in DMA DATASET XLSX file: ['data']

Available sheets in Dataset Project 404 XLSX file: ['original', 'MAPPING', 'to work  on', 'FINAL SET ALLOCATION']

updated_job_roles_full Columns: ['Job Role', 'Required Skill']

In [12]:
# Access specific sheets in XLSX file
# Method 1: Read specific sheet by namesheet
sheet1_data = pd.read_excel('Data/DMA DATASET.xlsx', sheet_name='data')
sheet2_data = pd.read_excel('Data/Dataset Project 404.xlsx', sheet_name='original')
sheet3_data = pd.read_excel('Data/Dataset Project 404.xlsx', sheet_name='MAPPING')
#
# # Method 2: Read specific sheet by index (0-based)
# sheet_by_index = pd.read_excel('Data/Dataset Project 404.xlsx', sheet_name=0)
#
# # Method 3: Read all sheets into a dictionary
# all_sheets = pd.read_excel('path/to/your/file.xlsx', sheet_name=None)

Preview of selected Data sheets

In [13]:
sheet1_data

,Name,email_id,Year,Current Course,Technical Skills,Programming Languages,Rating,Soft Skills,Rating.1,Projects,Career Interest,Challenges,Support required,Unnamed: 13,Method
0,Iorgo Hakonsen,ihakonsen0@instagram.com,2nd,MBA,"Cybersecurity, Blockchain","Python, R, C#",2,"Communication, Adaptability, Problem-Solving",1,Yes,Data Scientist,Interview anxiety,Mentorship programs,NaN,College curriculum
1,Emmery Duffyn,eduffyn1@dailymotion.com,Final,BBA,"SQL, Machine Learning","R, Go",3,"Leadership, Communication, Problem-Solving",4,No,AI Engineer,No networking opportunities,Technical skill training,NaN,College curriculum
2,Susanetta Wards,swards2@digg.com,2nd,B.Sc Data Science,"Cybersecurity, Java",JavaScript,4,"Leadership, Time Management, Problem-Solving",1,No,Data Scientist,Interview anxiety,Technical skill training,NaN,Self-study
3,Amanda Gussin,agussin3@webs.com,2nd,M.Tech AI,"Blockchain, Python, SQL","Python, C#",3,"Adaptability, Teamwork, Leadership",4,No,Cybersecurity Expert,Limited guidance,Resume workshops,NaN,College curriculum
4,Carlina Beaven,cbeaven4@timesonline.co.uk,1st,B.Tech IT,"Blockchain, Machine Learning, Python","Java, Go",4,"Teamwork, Adaptability, Problem-Solving",3,Yes,Cybersecurity Expert,No networking opportunities,Internship opportunities,NaN,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Sascha Fieldhouse,sfieldhousedr@bbc.co.uk,3rd Year,B.Tech CSE,"Machine Learning, SQL, Python, Data Analysis",Go,1,"Teamwork, Time Management, Problem-Solving",1,No,AI Engineer,No networking opportunities,Mentorship programs,NaN,Self-study
496,Dore Anderl,danderlds@dropbox.com,1st Year,B.Tech IT,"Python, Machine Learning, Java, Data Analysis","JavaScript, Python, R",4,"Problem-Solving, Adaptability, Leadership",2,No,Software Developer,Lack of experience,Internship opportunities,NaN,Online
497,Fredra Darlow,fdarlowdt@mysql.com,Final Year,B.Sc Data Science,"Machine Learning, Cloud Computing, Python",Java,2,"Leadership, Adaptability, Time Management",5,No,Business Analyst,Lack of experience,Mentorship programs,NaN,Bootcamp
498,Desdemona Dalziell,ddalzielldu@squidoo.com,1st Year,MBA,"Machine Learning, Python, Data Analysis","C#, Java, Python",1,"Communication, Problem-Solving, Adaptability",2,No,Data Scientist,Limited guidance,Mentorship programs,NaN,Bootcamp
499,Kiel Meysham,kmeyshamdv@purevolume.com,Final Year,B.Sc Data Science,"Cloud Computing, Java","Java, C++",1,"Communication, Leadership, Problem-Solving",4,No,Cloud Architect,Difficulty in resume building,Resume workshops,NaN,Bootcamp

In [14]:
sheet2_data

,Sr.No.,Course,Job profession,Student,Linguistic,Musical,Bodily,Logical - Mathematical,Spatial-Visualization,Interpersonal,...,Naturalist,s/p,P1,P2,P3,P4,P5,P6,P7,P8
0,1.0,NaN,Astronomer\n,S1,11,5,12,16,17,11,...,19,s1,AVG,POOR,AVG,BEST,BEST,AVG,BEST,BEST
1,NaN,NaN,Astronomer\n,S2,12,6,12,16,16,11,...,19,s2,AVG,POOR,AVG,BEST,BEST,AVG,BEST,BEST
2,NaN,NaN,Astronomer\n,S3,13,7,12,16,15,11,...,19,s3,AVG,POOR,AVG,BEST,BEST,AVG,BEST,BEST
3,NaN,NaN,Astronomer\n,S4,14,8,12,16,19,11,...,19,s4,AVG,POOR,AVG,BEST,BEST,AVG,BEST,BEST
4,NaN,NaN,Astronomer\n,S5,13,9,12,16,20,11,...,19,s5,AVG,POOR,AVG,BEST,BEST,AVG,BEST,BEST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,NaN,NaN,Technician,S3596,8,7,15,12,14,15,...,11,s3596,POOR,POOR,BEST,AVG,AVG,BEST,AVG,AVG
3596,NaN,NaN,Technician,S3597,9,8,16,11,13,16,...,12,s3597,POOR,POOR,BEST,AVG,AVG,BEST,AVG,AVG
3597,NaN,NaN,Technician,S3598,10,8,17,12,11,17,...,14,s3598,POOR,POOR,BEST,AVG,AVG,BEST,AVG,AVG
3598,NaN,NaN,Technician,S3599,6,9,19,13,13,18,...,11,s3599,POOR,POOR,BEST,AVG,AVG,BEST,AVG,AVG
3599,NaN,NaN,Technician,S3600,8,9,18,14,14,19,...,11,s3600,POOR,POOR,BEST,AVG,AVG,BEST,AVG,AVG

In [15]:
sheet3_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Skill Profile,Score,Recommended Job,P Set,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Bodily,Interpersonal,Intrapersonal,NaN,"Bodily, Interpersonal, Intrapersonal,",30,Athlete,"P3,P6,P7,",P3,P6,P7,NaN,NaN,set1,"P3,P6,P7,",set1
1,Bodily,Interpersonal,Naturalist,NaN,"Bodily, Interpersonal, Naturalist,",19,Pharmacist,"P3,P6,P7,",P3,P6,P7,NaN,NaN,set1,NaN,NaN
2,Bodily,Interpersonal,Naturalist,NaN,"Bodily, Interpersonal, Naturalist,",67,Medical,"P3,P6,P7,",P3,P6,P7,NaN,NaN,set1,NaN,NaN
3,Bodily,Intrapersonal,Naturalist,NaN,"Bodily, Intrapersonal, Naturalist,",5,Nature photographer,"P3,P6,P7,",P3,P6,P7,NaN,NaN,set1,NaN,NaN
4,Bodily,Intrapersonal,Naturalist,NaN,"Bodily, Intrapersonal, Naturalist,",62,Archeologist,"P3,P6,P7,",P3,P6,P7,NaN,NaN,set1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Musical,Bodily,Interpersonal,NaN,"Musical, Bodily, Interpersonal,",31,Dancer,"P2,P3,P6,",P2,P3,P6,NaN,NaN,set25,"P2,P3,P6,",set26
67,Musical,Intrapersonal,Naturalist,NaN,"Musical, Intrapersonal, Naturalist,",41,Artist,"P2,P7,P8,",P2,P7,P8,NaN,NaN,set26,"P2,P7,P8,",set27
68,Musical,Logical - Mathematical,Interpersonal,NaN,"Musical, Logical - Mathematical, Interpersonal,",6,Recording engineer,"P2,P4,P6,",P2,P4,P6,NaN,NaN,set27,"P2,P4,P6,",set28
69,Musical,Logical - Mathematical,Naturalist,NaN,"Musical, Logical - Mathematical, Naturalist,",8,Sound editor,"P2,P4,P8,",P2,P4,P8,NaN,NaN,set28,"P2,P4,P8,",set29
70,Bodily,Interpersonal,Intrapersonal,NaN,"Bodily, Interpersonal, Intrapersonal,",26,Social Worker,"P1,P6,P7",P1,P6,P7,NaN,NaN,set29,"P1,P6,P7",set30

In [4]:
import pandas as pd
import os

# --- 1. Load the data from the different files ---

# Load the sheet from the first Excel file
# This corresponds to your 'sheet1_data'
dma_data = pd.read_excel('Data/DMA DATASET.xlsx', sheet_name='data')

# Load the sheet from the second Excel file
# This corresponds to your 'sheet2_data'
# Load the 'original' sheet and immediately drop the 'Course' column
project_data1 = pd.read_excel('Data/Dataset Project 404.xlsx', sheet_name='original').drop(columns=['Course'])

# Load the 'MAPPING' sheet and then select only the required columns
project_data2 = pd.read_excel('Data/Dataset Project 404.xlsx', sheet_name='MAPPING')
project_data2 = project_data2[['Skill Profile', 'Score', 'Recommended Job', 'P Set']]

# Load the data from the CSV file
# This corresponds to your 'csv_dataframe'
job_roles_data = pd.read_csv('Data/updated_job_roles_full.csv')


# --- 2. Write all three DataFrames to a single Excel file in the 'Data' directory ---

# Define the path for the output Excel file
# We use os.path.join to correctly create the file path
output_filename = os.path.join('Data', 'combined_report.xlsx')

# Use pd.ExcelWriter to save multiple DataFrames to different sheets
with pd.ExcelWriter(output_filename, engine='openpyxl') as writer:
    # Write each DataFrame to a specific sheet
    # The 'sheet_name' will be the name of the tab in the Excel file
    dma_data.to_excel(writer, sheet_name='DMA', index=False)
    project_data1.to_excel(writer, sheet_name='original', index=False)
    project_data2.to_excel(writer, sheet_name='Mapping', index=False)
    job_roles_data.to_excel(writer, sheet_name='Job_Roles_And_Skills', index=False)

print(f"Successfully created '{output_filename}' with three sheets.")

Successfully created 'Data/combined_report.xlsx' with three sheets.

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import pickle
import re
import os

# --- Load all sheets from the combined report ---
dma_data = pd.read_excel("Data/combined_report.xlsx", sheet_name='DMA')
original_data = pd.read_excel("Data/combined_report.xlsx", sheet_name='original')
mapping_data = pd.read_excel("Data/combined_report.xlsx", sheet_name='Mapping')
job_skills_data = pd.read_excel("Data/combined_report.xlsx", sheet_name='Job_Roles_And_Skills')

# --- Automatically clean up column names to remove leading/trailing whitespace ---
dma_data.columns = dma_data.columns.str.strip()
original_data.columns = original_data.columns.str.strip()
mapping_data.columns = mapping_data.columns.str.strip()
job_skills_data.columns = job_skills_data.columns.str.strip()

# --- [DEBUG] This will show you the exact, cleaned column names ---
print("Cleaned columns in 'DMA' sheet:", dma_data.columns.tolist())
print("-" * 50)


def create_integrated_dataset():
    """
    Create a comprehensive dataset by combining all 4 sheets
    """
    # 1. Clean and standardize DMA data
    dma_clean = dma_data.copy()
    dma_clean['Technical_Skills_List'] = dma_clean['Technical Skills'].fillna('').apply(
        lambda x: [skill.strip().lower() for skill in str(x).split(',') if skill.strip()]
    )
    dma_clean['Programming_Languages_List'] = dma_clean['Programming Languages'].fillna('').apply(
        lambda x: [lang.strip().lower() for lang in str(x).split(',') if lang.strip()]
    )

    # 2. Create intelligence mapping from original data
    intelligence_mapping = {}
    for _, row in original_data.iterrows():
        student_id = row['Student']
        intelligence_mapping[student_id] = {
            'Linguistic': row['Linguistic'],
            'Musical': row['Musical'],
            'Bodily': row['Bodily'],
            'Logical_Mathematical': row['Logical - Mathematical'],
            'Spatial_Visualization': row['Spatial-Visualization'],
            'Interpersonal': row['Interpersonal'],
            'Intrapersonal': row['Intrapersonal'],
            'Naturalist': row['Naturalist'],
            'Recommended_Job': row['Job profession']
        }

    # 3. Create job-skills mapping
    job_skills_mapping = job_skills_data.groupby('Job Role')['Required Skill'].apply(list).to_dict()

    # 4. Create career-intelligence mapping from Mapping sheet
    career_intelligence_map = {}
    for _, row in mapping_data.iterrows():
        job = row['Recommended Job']
        profile = row['Skill Profile']
        score = row['Score']
        career_intelligence_map[job] = {'profile': profile, 'score': score}

    # 5. Build integrated dataset
    integrated_data = []
    for idx, student in dma_clean.iterrows():
        student_name = student['Name']
        record = {
            'name': student_name,
            'course': student['Current Course'],
            # --- [FIX] Removed the trailing space from 'Year ' ---
            'year': student['Year'],
            'career_interest': student['Career Interest'],
            'has_python': 1 if any('python' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_java': 1 if any('java' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_sql': 1 if any('sql' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_ml': 1 if any('machine learning' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_cybersecurity': 1 if any('cybersecurity' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_blockchain': 1 if any('blockchain' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_cloud': 1 if any('cloud' in skill for skill in student['Technical_Skills_List']) else 0,
            'has_data_analysis': 1 if any('data analysis' in skill for skill in student['Technical_Skills_List']) else 0,
            'knows_python_prog': 1 if any('python' in lang for lang in student['Programming_Languages_List']) else 0,
            'knows_java_prog': 1 if any('java' in lang for lang in student['Programming_Languages_List']) else 0,
            'knows_javascript': 1 if any('javascript' in lang for lang in student['Programming_Languages_List']) else 0,
            'knows_r': 1 if any('r' == lang for lang in student['Programming_Languages_List']) else 0,
            'knows_cpp': 1 if any('c++' in lang for lang in student['Programming_Languages_List']) else 0,
            'knows_csharp': 1 if any('c#' in lang for lang in student['Programming_Languages_List']) else 0,
            'technical_skills_count': len(student['Technical_Skills_List']),
            'programming_languages_count': len(student['Programming_Languages_List']),
            'technical_rating': student['Rating'] if pd.notna(student['Rating']) else 0,
            'soft_skills_rating': student['Rating.1'] if pd.notna(student['Rating.1']) else 0,
            'has_projects': 1 if student['Projects'] == 'Yes' else 0,
            'linguistic_score': 5, 'musical_score': 5, 'bodily_score': 5,
            'logical_mathematical_score': 5, 'spatial_visualization_score': 5,
            'interpersonal_score': 5, 'intrapersonal_score': 5, 'naturalist_score': 5,
            'target_job_category': standardize_job_category(student['Career Interest'])
        }
        student_id = f"S{idx+1}"
        if student_id in intelligence_mapping:
            intel_data = intelligence_mapping[student_id]
            record.update({
                'linguistic_score': intel_data['Linguistic'],
                'musical_score': intel_data['Musical'],
                'bodily_score': intel_data['Bodily'],
                'logical_mathematical_score': intel_data['Logical_Mathematical'],
                'spatial_visualization_score': intel_data['Spatial_Visualization'],
                'interpersonal_score': intel_data['Interpersonal'],
                'intrapersonal_score': intel_data['Intrapersonal'],
                'naturalist_score': intel_data['Naturalist']
            })
        integrated_data.append(record)
    return pd.DataFrame(integrated_data)

def standardize_job_category(career_interest):
    if pd.isna(career_interest): return 'Other'
    career_lower = career_interest.lower()
    if 'data scientist' in career_lower or 'data science' in career_lower: return 'Data Scientist'
    elif 'software developer' in career_lower or 'software engineer' in career_lower: return 'Software Developer'
    elif 'business analyst' in career_lower: return 'Business Analyst'
    elif 'cybersecurity' in career_lower or 'cyber security' in career_lower: return 'Cybersecurity Expert'
    elif 'cloud architect' in career_lower: return 'Cloud Architect'
    elif 'ai engineer' in career_lower or 'artificial intelligence' in career_lower: return 'AI Engineer'
    else: return 'Other'

# --- Run the main process ---
print("Creating integrated dataset...")
integrated_df = create_integrated_dataset()
print(f"Dataset created with shape: {integrated_df.shape}")
print("\nDataset columns:")
print(integrated_df.columns.tolist())

# Save the integrated dataset as an Excel file in the 'Data' directory
output_path = os.path.join('Data', 'integrated_resume_dataset.xlsx')
integrated_df.to_excel(output_path, index=False)
print(f"\nDataset saved as '{output_path}'")

Cleaned columns in 'DMA' sheet: ['Name', 'email_id', 'Year', 'Current Course', 'Technical Skills', 'Programming Languages', 'Rating', 'Soft Skills', 'Rating.1', 'Projects', 'Career Interest', 'Challenges', 'Support required', 'Method']
--------------------------------------------------
Creating integrated dataset...
Dataset created with shape: (500, 32)

Dataset columns:
['name', 'course', 'year', 'career_interest', 'has_python', 'has_java', 'has_sql', 'has_ml', 'has_cybersecurity', 'has_blockchain', 'has_cloud', 'has_data_analysis', 'knows_python_prog', 'knows_java_prog', 'knows_javascript', 'knows_r', 'knows_cpp', 'knows_csharp', 'technical_skills_count', 'programming_languages_count', 'technical_rating', 'soft_skills_rating', 'has_projects', 'linguistic_score', 'musical_score', 'bodily_score', 'logical_mathematical_score', 'spatial_visualization_score', 'interpersonal_score', 'intrapersonal_score', 'naturalist_score', 'target_job_category']

Dataset saved as 'Data/integrated_resume_dataset.xlsx'

In [13]:
# df= pd.read_excel('Data/integrated_resume_dataset.xlsx')
# df

In [21]:
def train_resume_analyzer_model(df):
    """
    Train a model for resume analysis and job recommendation
    """

    # Prepare features and target
    feature_columns = [
        'has_python', 'has_java', 'has_sql', 'has_ml', 'has_cybersecurity',
        'has_blockchain', 'has_cloud', 'has_data_analysis',
        'knows_python_prog', 'knows_java_prog', 'knows_javascript',
        'knows_r', 'knows_cpp', 'knows_csharp',
        'technical_skills_count', 'programming_languages_count',
        'technical_rating', 'soft_skills_rating', 'has_projects',
        'linguistic_score', 'musical_score', 'bodily_score',
        'logical_mathematical_score', 'spatial_visualization_score',
        'interpersonal_score', 'intrapersonal_score', 'naturalist_score'
    ]

    X = df[feature_columns]
    y = df['target_job_category']

    # Handle missing values
    X = X.fillna(0)

    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

    # Scale features
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # Train Random Forest model
    model = RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10)
    model.fit(X_train_scaled, y_train)

    # Evaluate model
    y_pred = model.predict(X_test_scaled)
    accuracy = accuracy_score(y_test, y_pred)

    print(f"\nModel Accuracy: {accuracy:.3f}")
    print("\nClassification Report:")
    print(classification_report(y_test, y_pred))

    # Feature importance
    feature_importance = pd.DataFrame({
        'feature': feature_columns,
        'importance': model.feature_importances_
    }).sort_values('importance', ascending=False)

    print("\nTop 10 Most Important Features:")
    print(feature_importance.head(10))

    # --- [FIX] Save model, scaler, and feature columns to the Data directory ---
    model_path = os.path.join('models', 'resume_analyzer_model.pkl')
    scaler_path = os.path.join('models', 'resume_scaler.pkl')
    features_path = os.path.join('models', 'feature_columns.pkl')

    with open(model_path, 'wb') as f:
        pickle.dump(model, f)

    with open(scaler_path, 'wb') as f:
        pickle.dump(scaler, f)

    with open(features_path, 'wb') as f:
        pickle.dump(feature_columns, f)

    print(f"\nModel saved to {model_path}")
    print(f"Scaler saved to {scaler_path}")
    print(f"Feature columns saved to {features_path}")


    return model, scaler, feature_columns

# Train the model
model, scaler, feature_columns = train_resume_analyzer_model(integrated_df)

Model Accuracy: 0.150

Classification Report:
                      precision    recall  f1-score   support

         AI Engineer       0.20      0.14      0.17        14
    Business Analyst       0.21      0.20      0.21        15
     Cloud Architect       0.23      0.25      0.24        20
Cybersecurity Expert       0.10      0.06      0.08        16
      Data Scientist       0.06      0.06      0.06        17
  Software Developer       0.11      0.17      0.13        18

            accuracy                           0.15       100
           macro avg       0.15      0.15      0.15       100
        weighted avg       0.15      0.15      0.15       100


Top 10 Most Important Features:
                        feature  importance
22   logical_mathematical_score    0.067500
21                 bodily_score    0.067460
19             linguistic_score    0.065544
26             naturalist_score    0.062824
20                musical_score    0.062552
24          interpersonal_score    0.058910
23  spatial_visualization_score    0.058839
16             technical_rating    0.056659
25          intrapersonal_score    0.054747
17           soft_skills_rating    0.051861

Model saved to models/resume_analyzer_model.pkl
Scaler saved to models/resume_scaler.pkl
Feature columns saved to models/feature_columns.pkl

In [27]:
def create_resume_analyzer():
    """
    Create resume analyzer functions.
    This version loads models only once for better performance.
    """
    # --- [IMPROVEMENT] Load models and assets once when the analyzer is created ---
    model_path = os.path.join('models', 'resume_analyzer_model.pkl')
    scaler_path = os.path.join('models', 'resume_scaler.pkl')
    features_path = os.path.join('models', 'feature_columns.pkl')

    try:
        with open(model_path, 'rb') as f:
            model = pickle.load(f)
        with open(scaler_path, 'rb') as f:
            scaler = pickle.load(f)
        with open(features_path, 'rb') as f:
            feature_columns = pickle.load(f)
    except FileNotFoundError as e:
        print(f"Error loading model files: {e}")
        print("Please ensure the training cell has been run and files are in the 'models/' directory.")
        return None # Return None if models can't be loaded

    def extract_skills_from_resume(resume_text):
        """
        Extract skills from resume text
        """
        resume_lower = resume_text.lower()

        # Define skill patterns
        skills_found = {
            'has_python': 1 if 'python' in resume_lower else 0,
            'has_java': 1 if 'java' in resume_lower and 'javascript' not in resume_lower else 0,
            'has_sql': 1 if 'sql' in resume_lower or 'mysql' in resume_lower or 'postgresql' in resume_lower else 0,
            'has_ml': 1 if 'machine learning' in resume_lower or ' ml ' in resume_lower or 'artificial intelligence' in resume_lower else 0,
            'has_cybersecurity': 1 if 'cybersecurity' in resume_lower or 'cyber security' in resume_lower or 'information security' in resume_lower else 0,
            'has_blockchain': 1 if 'blockchain' in resume_lower or 'cryptocurrency' in resume_lower else 0,
            'has_cloud': 1 if 'cloud' in resume_lower or 'aws' in resume_lower or 'azure' in resume_lower else 0,
            'has_data_analysis': 1 if 'data analysis' in resume_lower or 'data analytics' in resume_lower else 0,
            'knows_python_prog': 1 if 'python' in resume_lower else 0,
            'knows_java_prog': 1 if 'java' in resume_lower and 'javascript' not in resume_lower else 0,
            'knows_javascript': 1 if 'javascript' in resume_lower or 'js' in resume_lower else 0,
            'knows_r': 1 if ' r ' in resume_lower or 'r programming' in resume_lower else 0,
            'knows_cpp': 1 if 'c++' in resume_lower or 'cpp' in resume_lower else 0,
            'knows_csharp': 1 if 'c#' in resume_lower or 'csharp' in resume_lower else 0,
        }

        # Count skills
        technical_skills = sum([skills_found['has_python'], skills_found['has_java'],
                               skills_found['has_sql'], skills_found['has_ml'],
                               skills_found['has_cybersecurity'], skills_found['has_blockchain'],
                               skills_found['has_cloud'], skills_found['has_data_analysis']])

        programming_languages = sum([skills_found['knows_python_prog'], skills_found['knows_java_prog'],
                                   skills_found['knows_javascript'], skills_found['knows_r'],
                                   skills_found['knows_cpp'], skills_found['knows_csharp']])

        skills_found.update({
            'technical_skills_count': technical_skills,
            'programming_languages_count': programming_languages,
            'has_projects': 1 if 'project' in resume_lower else 0,
            'technical_rating': 3,  # Default rating
            'soft_skills_rating': 3  # Default rating
        })

        return skills_found

    def analyze_resume(resume_text, intelligence_scores=None):
        """
        Analyze resume and provide job recommendations
        """
        # Extract skills from resume
        skills = extract_skills_from_resume(resume_text)

        # Add intelligence scores (default to 5 if not provided)
        if intelligence_scores is None:
            intelligence_scores = {
                'linguistic_score': 5, 'musical_score': 5, 'bodily_score': 5,
                'logical_mathematical_score': 5, 'spatial_visualization_score': 5,
                'interpersonal_score': 5, 'intrapersonal_score': 5, 'naturalist_score': 5
            }
        skills.update(intelligence_scores)

        # Create feature vector
        feature_vector = [skills.get(col, 0) for col in feature_columns]
        feature_vector = np.array(feature_vector).reshape(1, -1)

        # Scale features
        feature_vector_scaled = scaler.transform(feature_vector)

        # Predict job category
        predicted_job = model.predict(feature_vector_scaled)[0]
        prediction_probabilities = model.predict_proba(feature_vector_scaled)[0]

        # Get top 3 job recommendations
        job_classes = model.classes_
        top3_indices = np.argsort(prediction_probabilities)[-3:][::-1]

        recommendations = []
        for idx in top3_indices:
            recommendations.append({
                'job': job_classes[idx],
                'probability': prediction_probabilities[idx]
            })

        # Generate skill gap analysis
        skill_gaps = generate_skill_gaps(skills, predicted_job)

        return {
            'predicted_job': predicted_job,
            'confidence': max(prediction_probabilities),
            'top_recommendations': recommendations,
            'extracted_skills': skills,
            'skill_gaps': skill_gaps
        }

    def generate_skill_gaps(current_skills, predicted_job):
        """
        Generate skill gap analysis based on predicted job
        """
        # This could be loaded from an external file for better maintenance
        job_requirements = {
            'Data Scientist': ['python', 'sql', 'machine learning', 'statistics', 'pandas'],
            'Software Developer': ['java', 'python', 'javascript', 'sql', 'git'],
            'Business Analyst': ['sql', 'excel', 'data visualization', 'jira', 'requirement gathering'],
            'Cybersecurity Expert': ['cybersecurity', 'network security', 'python', 'linux'],
            'Cloud Architect': ['cloud computing', 'aws', 'azure', 'devops', 'kubernetes'],
            'AI Engineer': ['python', 'machine learning', 'tensorflow', 'pytorch', 'deep learning']
        }
        required_skills = job_requirements.get(predicted_job, [])

        # Map current skills to requirements
        skill_mapping = {
            'python': current_skills.get('has_python', 0) or current_skills.get('knows_python_prog', 0),
            'java': current_skills.get('has_java', 0) or current_skills.get('knows_java_prog', 0),
            'sql': current_skills.get('has_sql', 0),
            'machine learning': current_skills.get('has_ml', 0),
            'javascript': current_skills.get('knows_javascript', 0),
            'cybersecurity': current_skills.get('has_cybersecurity', 0),
            'cloud computing': current_skills.get('has_cloud', 0)
        }

        missing_skills = []
        for skill in required_skills:
            if skill not in skill_mapping or skill_mapping[skill] == 0:
                missing_skills.append(skill)

        return {
            'required_skills': required_skills,
            'missing_skills': missing_skills,
            'skill_match_percentage': ((len(required_skills) - len(missing_skills)) / len(required_skills) * 100) if required_skills else 0
        }

    return analyze_resume

# Create the analyzer
analyze_resume = create_resume_analyzer()

In [28]:
sample_resume_2 = """
Michael Brown
Full Stack Developer

Experience:
- Developed responsive web applications using React and Node.js
- Designed and implemented REST and GraphQL APIs
- Managed databases using PostgreSQL and MongoDB
- Integrated third-party APIs for payments and authentication

Skills:
- JavaScript, TypeScript, Python
- React, Node.js, Express
- PostgreSQL, MongoDB
- Git, Docker, AWS

Projects:
- Online learning platform
- Inventory management system
- Real-time chat application
"""

intelligence_scores_2 = {
    'linguistic_score': 7,
    'musical_score': 3,
    'bodily_score': 6,
    'logical_mathematical_score': 8,
    'spatial_visualization_score': 8,
    'interpersonal_score': 7,
    'intrapersonal_score': 6,
    'naturalist_score': 4
}


# Analyze the resume
result = analyze_resume(sample_resume, intelligence_scores)

print("Resume Analysis Results:")
print(f"Predicted Job: {result['predicted_job']}")
print(f"Confidence: {result['confidence']:.3f}")
print("\nTop 3 Recommendations:")
for i, rec in enumerate(result['top_recommendations'], 1):
    print(f"{i}. {rec['job']} (Probability: {rec['probability']:.3f})")

print(f"\nSkill Gap Analysis:")
print(f"Required Skills: {result['skill_gaps']['required_skills']}")
print(f"Missing Skills: {result['skill_gaps']['missing_skills']}")
print(f"Skill Match: {result['skill_gaps']['skill_match_percentage']:.1f}%")

Resume Analysis Results:
Predicted Job: Cybersecurity Expert
Confidence: 0.217

Top 3 Recommendations:
1. Cybersecurity Expert (Probability: 0.217)
2. Cloud Architect (Probability: 0.178)
3. Software Developer (Probability: 0.171)

Skill Gap Analysis:
Required Skills: ['cybersecurity', 'network security', 'python', 'linux']
Missing Skills: ['cybersecurity', 'network security', 'linux']
Skill Match: 25.0%

/home/praneeth/Downloads/Lets Pro/Skill Gap/myenv1/lib/python3.12/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(